QWidget {
   background: rgb(230, 230, 230);
}

QPushButton {

    color: black;
    font-weight: 700;
    width: 75%;
    height: 16%;
    font-size: 11px;
    text-decoration: none;

    padding: .5em 2em;
    margin: 5%;
    outline: none;
    border: 2px solid #222121;
    border-radius: 13px;


}

QPushButton:hover { background: rgba(20,20,20,.2);}

QLineEdit, QSpinBox {
  width:100%;

  padding:15px;
  border: 2px solid #222121;
  border-radius: 20px;
  background-color: white;

  height:18px;
  color: rgb(40, 40, 40);
}

QLabel {
  padding:10px;
  /*font-size: 12px;*/

  color: rgb(40, 40, 40);
  font-weight: 700;

}

/*QLineEdit[text=\"\] {color: red;}*/

QGroupBox {
color: black;
}

Line {
color: #252525;
background-color: #252525;
}

QDateTimeEdit {
    border: 2px solid black;
    border-radius: 7px;
    color: black;
}

QScrollBar:vertical  {

background:rgb(230, 230, 230);
width:10px;
margin: 0px 0px 0px 0px;


}
QScrollBar::handle:vertical {
border: 1px solid #252525;
border-radius: 4px;
    background: rgb(25,25,25);
    min-height: 0px;

}
QScrollBar::add-line:vertical {
    background: rgb(25,25,25);
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;

}
QScrollBar::sub-line:vertical {
    background: rgb(25,25,25);
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;

}
