QWidget {
   background: rgb(25, 25, 25);
}

QPushButton {

    color: white;
    font-weight: 700;
    width: 75%;
    height: 16%;
    font-size: 11px;
    text-decoration: none;

    padding: .5em 2em;
    margin: 5%;
    outline: none;
    border: 2px solid;
    border-radius: 13px;


}

QPushButton:hover { background: rgba(255,255,255,.2);}

QLineEdit, QSpinBox {
  width:100%;

  padding:15px;
  border: 2px solid #222121;
  border-radius: 20px;
  background-color: rgb(25, 25, 25);

  height:18px;
  color: gray;
}

QLabel {
  padding:10px;
/*  font-size: 12px;*/

  color: lightgray;
  font-weight: 700;

}

QDateTimeEdit {
    border: 2px solid;
    border-radius: 7px;
    color: white;
}

QGroupBox {
color: white;
}

QScrollBar:vertical  {
/*    border: 1px solid ;*/
    background: white;
    width:10px;
    margin: 0px 0px 0px 0px;


}
QScrollBar::handle:vertical {
    border: 2px solid black;
    border-radius: 4px;
    background: white;
    min-height: 0px;
    margin-left: 1px;
    margin-right: 1px;

}
QScrollBar::add-line:vertical {
    background: rgb(25,25,25);
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;

}
QScrollBar::sub-line:vertical {
    background: rgb(25,25,25);
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;

}
